@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcometo azure devops..... and Azure repos</h1>
    <h1 class="display-4">This is feature1 branch</h1>
    <h1 class="display-4">Third line added bbbb.mmmmm..hhhhnnnnnjjjjnnnnnnnhhhhhbbbbbb</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
